body{
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
  color: black;
}

.navbar{
  display: flex;
  flex-direction: row;
  padding-inline: 7%;
  align-items: center;
  justify-content: space-between;
  padding-block: 22px;
}
.nav-link{
  text-decoration: none;
  color: black;
}
.hero-image{
  max-width: 100%;
  margin-left: 8%;
}
.client-business-logo{
  width: 100px;
  height: auto;
}
.feature1-image{
  width: 100%;
  margin-left: 7%;
}
.feature2-image{
  width: 80%;
  margin-right: 7%;
}